---
---

$white:             #fff;
$off-white:         #f2f2f2;
$blue:              #005adf;
$teal:              #1bd9c4;
$cyan:              #3f8b99;
$gray-100:          #f9f9f9;
$gray-200:          #e9ecef;
$gray-500:          #bebebe;
$gray-700:          #4a4a4a;
$gray-900:          #212529;
$wist-purple:       #7b00ff;

$primary:       $wist-purple;
$info:          $cyan;
$dark:          $gray-700;

$enable-rounded:    false;
$enable-shadows:    true;
$enable-gradients:  false;

$dropdown-link-hover-color:   $white;
$dropdown-link-hover-bg:      $primary;

$dropdown-link-active-color:  $gray-900;
$dropdown-link-active-bg:     $gray-200;

$body-color:  $gray-700;
$link-color:  $primary;

$text-muted: $gray-500;

$font-family-sans-serif:      "Source Sans Pro", Roboto, "Segoe UI", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-weight-light:           300;
$font-weight-base:            $font-weight-light;

$headings-font-weight:        400;
$display1-weight:             400;
$display2-weight:             400;
$display3-weight:             400;
$display4-weight:             400;

@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "print";
@import "reboot";
@import "type";
@import "code";
@import "grid";
@import "transitions";
@import "dropdown";
@import "nav";
@import "navbar";
@import "card";
@import "badge";
@import "jumbotron";
@import "media";
@import "list-group";
@import "utilities";

body {
    padding-top: 87px;
}

:target:before {
    content: "";
    display: block;
    height: calc(87px + 1rem);
    margin-top: calc(-87px - 1rem);
}

.page-content {
    :target:before {
        content: "";
        display: block;
        height: calc(139px + 1rem);
        margin-top: calc(-139px - 1rem);
    }
}

.site-navigation {
    &.navbar-light {
        padding-bottom: 0;

        .navbar-brand {
            @include hover-focus {
                color: transparentize($primary, 0.3);

                svg g {
                    fill: transparentize($primary, 0.3);
                }
            }
        }

        .navbar-nav {
            li.nav-item:not(:last-child) {
                margin-bottom: 0;
            }

            .nav-item {
                padding: .75rem 1.25rem;
                border-top: 1px solid $off-white;

                &:last-child {
                    border-bottom: 1px solid $off-white;
                }

                &.active {
                    .nav-link {
                        color: $primary;
                    }
                }
            }

            .nav-link {
                color: $gray-500;
                font-size: .9rem;
                position: relative;
                font-weight: normal;
            }
        }
    }
}

.menu-icon {
    width: 20px;
    height: 16px;
    display: inline-block;
    position: relative;
    cursor: pointer;

    span {
        width: 100%;
        height: 4px;
        background-color: $primary;
        display: block;
        position: absolute;
        left: 0;
        transition: transform .2s ease-in-out;
        
        &:nth-child(1) {
            top: 0;
        }
    
        &:nth-child(2) {
            bottom: 0;
        }
    }
}

.navbar-collapse.closed {
    max-height: 0 !important;
}

.menu-icon.opened {
    span {
        &:nth-child(1) {
            transform: translateY(6px) rotate(135deg);
        }
    
        &:nth-child(2) {
            transform: translateY(-6px) rotate(-135deg);
        }
    }
}

#main-nav-menu {
    overflow-y: hidden;
	max-height: 200px;
    transition: max-height 300ms ease-out;
    margin: 0 -1rem;
}

pre {
    padding: .5rem 1rem;
    background-color: $off-white;
    border: 0;
}

code {
    background-color: $off-white;
    color: theme-color("dark");
    border: 0;
}

ul > li:not(:last-child) {
    margin-bottom: .5rem;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

#wt-logo {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    margin-right: .25rem;
}

#sidebar-nav {
    border: 1px solid $gray-200;
    background-color: $gray-100;

    & > .sidebar-nav-item:not(:last-child) {
        margin-bottom: 1rem;
    }

    .active-indicator {
        margin-left: -1.25rem;
        padding-right: 0.25rem;
        display: none;
    }

    .active {
        & > .active-indicator {
            display: inline;
        }
    }
}

.sidebar-nav-item {
    & > a, & > .active-indicator {
        color: theme-color("dark");
        font-weight: normal;
    }
}

.sidebar-subnav {
    color: theme-color("dark");
    display: block;
    padding-left: 1rem;

    & > li:not(:last-child) {
        margin-bottom: .25rem;
    }

    a {
        color: theme-color("dark");
    }
}

#home-title {
    small, .small {
        font-size: 1rem;
        margin-left: 1rem;
        white-space: nowrap;
    }
}

#home-blurb {
    font-size: 1.5rem;

    .get-started {
        font-weight: normal;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;

    &.full-height {
        height: calc(100vh - 87px);
    }
}

#integrations {
    padding-top: 2rem;
    display: flex;
    flex: 1;
}

.integrator-logo {
    svg {
        width: 46px;
    }
}

.card-img-left {
    float: left;
    padding-right: 1em;
    margin-bottom: -1.25em;
}

@include media-breakpoint-up(md) {
    .navbar-expand-md .menu-icon {
        display: none;
    }

    #sidebar-nav {
        display: block !important;
        border: 0;
        background-color: transparent;
        position: sticky;
        top: 87px;
    }

    .sidebar {
        border-right: 1px solid $gray-200;
    }
    
    .page-content {
        :target:before {
            height: calc(87px + 1rem);
            margin-top: calc(-87px - 1rem);
        }
    }

    .docs-content {
        padding-left: 2rem;
    }

    #integrations {
        padding-top: 4rem;

        .card-deck {
            .card:first-child {
                margin-right: 4rem;
            }

            .card:last-child {
                margin-left: 4rem;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .navbar-expand-lg .menu-icon {
        display: none;
    }

    .site-navigation {
        &.navbar-light {
            padding-bottom: 0.5rem;
            
            .navbar-nav {
                margin-left: auto;
                margin-right: 0;

                .nav-link {
                    color: $gray-700;

                    @include hover-focus {
                        color: transparentize($gray-700, 0.3);
        
                        &:after {
                            content:''; 
                            width: 50%; 
                            height: 2px; 
                            background-color: transparentize($gray-700, 0.3);
                            position: absolute; 
                            bottom: calc(0.25rem - 2px);
                            left: 25%;
                        }
                    }
                }

                .nav-item {
                    border-top: 0;

                    &:last-child {
                        border-bottom: 0;
                    }

                    &.active {
                        .nav-link {
                            &:after {
                                content:''; 
                                width: 50%; 
                                height: 2px; 
                                background-color: $primary;
                                position: absolute; 
                                bottom: calc(0.25rem - 2px);
                                left: 25%;
                            }

                            @include hover-focus {
                                color: transparentize($primary, 0.3);

                                &:after {
                                    background-color: transparentize($primary, 0.3);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #main-nav-menu {
        margin: 0 0 0 auto;

        &.closed {
            max-height: unset !important;
        }
    }
}