---
---

$white:     #fff;
$blue:      #1c77c3;
$teal:      #1bd9c4;
$cyan:      #3f8b99;
$gray-200:  #e9ecef;
$gray-700:  #495057;
$gray-900:  #212529;

$primary:       $teal;
$info:          $cyan;
$dark:          $gray-700;

$enable-rounded:    false;
$enable-shadows:    true;
$enable-gradients:  false;

$dropdown-link-hover-color:   $white;
$dropdown-link-hover-bg:      $primary;

$dropdown-link-active-color:  $gray-900;
$dropdown-link-active-bg:     $gray-200;

$body-color:  $gray-700;
$link-color:  $blue;

@import "bootstrap";

body {
    padding-top: 57px;
}

:target:before {
    content: "";
    display: block;
    height: calc(57px + 1rem);
    margin-top: calc(-57px - 1rem);
}

.page-content {
    padding-top: 4rem;

    :target:before {
        content: "";
        display: block;
        height: calc(109px + 1rem);
        margin-top: calc(-109px - 1rem);
    }
}

.site-navigation {
    border-bottom: 1px solid $gray-200;

    &.navbar-light .navbar-brand {
        color: theme-color("primary");

        @include hover-focus {
            color: theme-color("secondary");
        }
    }
}

#bslint-navbar ul.navbar-nav > li:not(:last-child) {
    margin-bottom: 0;
}

pre {
    padding: .5rem 1rem;
    border: 1px solid $gray-300;
    background-color: $gray-100;
}

code {
    background-color: $gray-200;
    color: theme-color("dark");
    border-radius: $border-radius;
}

ul > li:not(:last-child) {
    margin-bottom: .5rem;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

#wt-logo {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    margin-right: .25rem;
}

.sidebar {
    position: fixed;
    top: 57px;
    z-index: 1983; /* The Best Year (tm) */
}

.sidebar-toggler {
    display: block;
    text-align: right;
    padding: .25rem 1rem;
    margin-right: -15px;
    margin-left: -15px;

    &.bg-dark .octicon {
        fill: theme-color("primary");
    }
}

#sidebar-nav {
    padding: 1rem;
    border: 1px solid $gray-200;
    background-color: $gray-100;

    & > .sidebar-nav-item:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.sidebar-subnav {
    color: theme-color("dark");
    display: block;

    & > li:not(:last-child) {
        margin-bottom: .25rem;
    }

    a {
        color: theme-color("dark");
    }
}

#home-blurb a {
    background: theme-color("dark");
    color: $white;
    padding: 0.1rem 0.25rem;
}

@include media-breakpoint-up(md) {
    #sidebar-nav {
        display: block !important;
        border: 0;
        padding: .5rem;
        background-color: transparent;
    }

    .sidebar {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-right: 1px solid $gray-200;
        bottom: 0;
        left: 0;
    }

    .sidebar-toggler {
        display: none !important;
    }
    
    .page-content {
        :target:before {
            height: calc(57px + 1rem);
            margin-top: calc(-57px - 1rem);
        }
    }
}

@include media-breakpoint-down(lg) {
    #bslint-navbar {
        max-width: 100%;
        height: 2.5rem;
        overflow: hidden;

        .navbar-nav {
            overflow-x: auto;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    }
}