---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "_custom";
@import "bootstrap";

body {
    padding-top: 57px;
}

.page-content {
    padding-top: calc(52px + 1rem);
}

.site-navigation {
    border-bottom: 1px solid $gray-200;

    &.navbar-light .navbar-brand {
        color: theme-color("primary");

        @include hover-focus {
            color: theme-color("secondary");
        }
    }
}

#bslint-navbar ul.navbar-nav > li:not(:last-child) {
    margin-bottom: 0;
}

pre {
    padding: .5rem 1rem;
    border: 1px solid $gray-300;
    background-color: $gray-100;
}

code {
    background-color: theme-color("secondary");
    color: theme-color("light");
    border-radius: $border-radius;
}

ul > li:not(:last-child) {
    margin-bottom: .5rem;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

.navbar-brand > svg {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    margin-right: .25rem;
}

.sidebar {
    position: fixed;
    top: 57px;
    z-index: 1983; /* The Best Year (tm) */
}

.sidebar-toggler {
    display: block;
    text-align: right;
    padding: .25rem 1rem;
    margin-right: -15px;
    margin-left: -15px;
}

#sidebar-nav {
    padding: 1rem;
    border: 1px solid $gray-200;
    background-color: $gray-100;
}

#sidebar-nav > .sidebar-nav-item:not(:last-child) {
    margin-bottom: 1rem;
}

.sidebar-subnav {
    color: $gray-900;
    display: block;

    & > li:not(:last-child) {
        margin-bottom: .25rem;
    }

    a {
        color: $gray-900;
    }
}

@include media-breakpoint-up(md) {
    #sidebar-nav {
        display: block !important;
        border: 0;
        padding: .5rem;
        background-color: transparent;
    }

    .sidebar {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-right: 1px solid $gray-200;
        bottom: 0;
        left: 0;
    }

    .sidebar-toggler {
        display: none !important;
    }
}

@include media-breakpoint-down(lg) {
    #bslint-navbar {
        max-width: 100%;
        height: 2.5rem;
        overflow: hidden;

        .navbar-nav {
            overflow-x: auto;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    }
}